<h2 align="center">Document <%= @document.id %> </h2>
<div class="mt-4 p-5 rounded bg-light ">
  
    <h5 class="display-5">
       <%= @document.titre %>
    </h5>

    <hr class="my-4">

    <p class="lead">
      <strong>ID:</strong>
      <%= @document.id %>
    </p>
    <p class="lead">
      <strong>Titre:</strong>
      <%= @document.titre %>
    </p>

    <p class="lead">
      <strong>Nombre de copies:</strong>
      <%= @document.nombre_copies %>
    </p>

    <p class="lead">
      <strong>Auteur:</strong>
      <%= @document.auteur.nom %> <%= @document.auteur.prenom %>
    </p>

  
    <%= link_to 'Modifier', edit_document_path(@document), class:"btn btn-secondary" %> 
    <%= link_to 'Supprimer', @document, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
    <%= link_to 'Retour', documents_path, class:"btn btn-dark" %>
  </div>

